
#menu {
  width: 100%;
  height: 1000px;
  background-image: url("../../../assets/img/PhucLV.background.png");
  padding-top: 100px;


  /*background-image: url("https://media.discordapp.net/attachments/1004041400112922655/1004244771331653662/background.jpg");*/
}

.validate {
  color: red;
}

#suaMonMoi {
  margin-top: 50px;
  margin-bottom: 70px;
}

.form-label {
  color: sandybrown;
}

label.form-label {
  font-family: Blippo, fantasy;
}

.complain {
  color: red;
}
