<div id="fate">
  <div class="container">
    <header>
      <div>
        <div class="p-3 text-center"
             style="height: 60px;">
          <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white mt-4">
                <h1 class="mb-3">
                  <b>Danh Sách Hóa Đơn</b>
                </h1>
              </div>
            </div>
          </div>
        </div>
          <div class="row mt-5">
            <form class="d-flex" [formGroup]="searchForm" *ngIf="searchForm" (ngSubmit)="getFormSearch()">
                <label class="text-white mt-1 me-2">Số Hóa Đơn:</label>
                <input class="form-control me-2 search-1" type="text" name="searchCode"
                       formControlName="searchCode"
                       placeholder="Search số hóa đơn" >
              <label class="text-white mt-1 me-2" style="margin-left: 5px">Ngày Tạo:</label>
                <input class="form-control me-2 search-1" type="date" name="searchDate"
                       formControlName="searchDate"
                       placeholder="Search Ngày tạo" aria-label="Search" aria-describedby="search-addon">
                <button class="btn button-1 me-2" type="submit" name="name" style="color: white; margin-left: 10px">Tìm kiếm
                </button>
            </form>
          </div>
      </div>
    </header>
    <div class="table_wrapper mt-3">
      <table class="table table-hover table-bill">
        <thead class="thead-bill">
        <tr class="table100-head">
          <th class="th-bill">STT</th>
          <th class="th-bill">Số Hóa Đơn</th>
          <th class="th-bill">Ngày Tạo</th>
          <th class="th-bill">Người Tạo</th>
          <th class="th-bill">Số Bàn</th>
          <th class="vnd th-bill">Tổng Tiền(VND)</th>
          <th class="th-bill">Chi Tiết</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let bill of bills index as i">
          <td class="td-bill">{{i + 1}}</td>
          <td class="td-bill">{{bill.billCode}}</td>
          <td class="td-bill">{{bill.creationDate|date: 'dd-MM-yyyy'}}</td>
          <td class="td-bill">{{bill.employeeName}}</td>
          <td class="td-bill">{{bill.coffeeTableCode}}</td>
          <td class="td-bill" style="text-align: right">{{bill.dishPrice| currency: 'VND': ''}}đ</td>
          <td class="td-bill">
            <a href="#"
               class="a-bill" data-bs-toggle="offcanvas" [attr.data-bs-target]="'#offcanvas' + bill.id">
              <mat-icon class="bi">remove_red_eye</mat-icon>
            </a>

            <div class="container offcanvas offcanvas-end detail aut" id="offcanvas{{bill.id}}" style="overflow: auto">
              <div id="contentToConvert" >
                <div class="row text-center">
                  <h1>C0222G2-COFFEE</h1>
                </div>
                <div class="row text-center">
                  <h5>ĐC: 295 Nguyễn Tất Thành - Đà Nẵng</h5>
                </div>
                <div class="row text-center">
                  <h5>SĐT: 0236 6517 021</h5>
                </div>
                -------------------------
                <div class="row text-center">
                  <h4><b>Hóa Đơn Thanh Toán</b></h4>
                </div>
                <div class="row" style="text-align: left">
                  <div class="col-4"><b>Số Hóa Đơn:</b></div>
                  <div class="col-8"><p>{{bill.billCode}}</p></div>
                </div>
                <div class="row" style="text-align: left">
                  <div class="col-4"><b>Số Bàn:</b></div>
                  <div class="col-8"><p>{{bill.coffeeTableCode}}</p></div>
                </div>
                <div class="row" style="text-align: left">
                  <div class="col-4"><b>Ngày Tạo:</b></div>
                  <div class="col-8"><p>{{bill.creationDate|date: 'dd-MM-yyyy'}}</p></div>
                </div>
                <div class="row" style="text-align: left">
                  <div class="col-4"><b>Nhân Viên:</b></div>
                  <div class="col-8"><p>{{bill.employeeName}}</p></div>
                </div>
                <table class="table">
                  <thead>
                  <tr>
                    <th><b>Tên Món</b></th>
                    <th><b>Số Lượng</b></th>
                    <th><b>Giá(VND)</b></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>{{bill.dishName}}</td>
                    <td>{{bill.dishOrderQuantity}}</td>
                    <td class="tien">{{bill.dishPrice| currency: 'VND': ''}}</td>
                  </tr>
                  </tbody>
                </table>
                <div class="row" style="text-align: left">
                  <div class="col-4"><b>Tổng Cộng:</b></div>
                  <div class="col-8" style="text-align: right"><p>{{bill.dishPrice| currency: 'VND': ''}}</p></div>
                </div>
                <div class="row" style="text-align: left">
                  <div class="col-4"><b>Tiền Khách Trả:</b></div>
                  <div class="col-8" style="text-align: right"><p>{{bill.dishPrice| currency: 'VND': ''}}</p></div>
                </div>
                <div class="row" style="text-align: left">
                  <div class="col-4"><b>Tiền Thừa:</b></div>
                  <div class="col-8" style="text-align: right"><p>0</p></div>
                </div>
                <div class="row d-flex justify-content-center">
                  ----------------------------------------------
                </div>
                <div class="row text-center">
                  <div><b>Xin cảm ơn, hẹn gặp lại quý khách!</b></div>
                </div>
                <div class="row text-center">
                  <div><p>Mật khẩu wifi: codegym@2021</p></div>
                </div>
              </div>

              <div class="row mt-3" style="margin-bottom: 10px">
                <div class="col-2"></div>
                <div class="col-5" style="text-align: right">
                  <button class="btn button-page" (click)="generatePDF()">Xuất Hóa Đơn</button>
                </div>
                <div class="col-3">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas">
                    <b style="color: white">Đóng</b>
                  </button>
                </div>
                <div class="col-2"></div>
              </div>

            </div>

          </td>
        </tr>
        </tbody>
        <p *ngIf="bills.length == 0" style="border-top: none; text-align: center">Không Có Dữ Liệu</p>
      </table>

      <div class="container-fluid mt-3" [hidden]=" bills.length == 0 ">
        <ul class="pagination float-end">
          <div *ngIf="number == 0">
            <li class="page-item disabled">
              <button class="page-link" (click)="goPrevious()" hidden>Trước</button>
            </li>
          </div>
          <div *ngIf="number != 0">
            <li class="page-item">
              <button class="page-link " (click)="goPrevious()">Trước</button>
            </li>
          </div>
          <div *ngFor="let count of countTotalPages; index as i">
            <div *ngIf="i == number">
              <li class="page-item active">
                <button class="btn button-page" (click)="goItem(i)">{{i + 1}}</button>
              </li>
            </div>
            <div *ngIf="i != number">
              <li class="page-item">
                <button class="page-link " (click)="goItem(i)">{{i + 1}}</button>
              </li>
            </div>
          </div>
          <div *ngIf="number == totalPages - 1">
            <li class="page-item disabled">
              <button class="page-link " (click)="goNext()" hidden>Sau</button>
            </li>
          </div>
          <div *ngIf="number != totalPages - 1">
            <li class="page-item">
              <button class="page-link " (click)="goNext()">Sau</button>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

