<div id="content">
  <img src="../../../assets/img/phuongtd-background.jpg" width="100%"/>
</div>
<div class="container text-center card-img-overlay pt-xl-13 p-0">
  <div class="row col-12 bg-light border">
    <div class="col-xl-6 col-lg-12 border" style="padding: 0 !important;">
      <img src="../../../assets/img/phuongtd-coffee.jpg" width="100%" height="100%"/>
    </div>
    <div class="col-xl-6 col-lg-12 align-self-center">
      <div class="col-12 p-lg-0 p-lg-0">
        <form>
          <img class="mb-4" src="../../../assets/img/phuongtd-coffee-house-logo.png" alt="" width="72" height="72">
          <h1 class="h3 mb-3 fw-normal">Quên mật khẩu</h1>

          <div class="form-floating mb-3 w-50 text-center m-auto">
            <input type="password" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Mật khẩu mới <span class="text-danger">(*)</span> : </label>
          </div>
          <div class="form-floating mb-3 w-50 text-center m-auto">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Xác nhận mật khẩu <span class="text-danger">(*)</span> : </label>
          </div>

          <div class="col-12 w-50 row text-center m-auto">
            <div class="col-12 mb-3">
              <button class="btn btn-lg w-100 fs-6 btn-yellow" type="submit">Xác nhận</button>
            </div>
            <!-- Button trigger modal -->
            <div class="col-12 mb-3">
              <button type="button" class="btn btn-lg w-100 fs-6 btn-secondary" data-bs-toggle="modal"
                      data-bs-target="#staticBackdrop">
                Quay lại
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
