<div id="body">
  <div class="container">
    <h1 class="title">Quản lý phản hồi</h1>
    <div class="row">
      <div class="col-sm-12 col-md-5 col-lg-5">
        <a class="btn" style="background-color: #744e3a; color: white"> Xắp sếp đánh giá</a>
      </div>
      <div class="col-sm-12 col-md-7 col-lg-7">
        <label style="color: white">Ngày tạo phản hồi</label>
        <form class="d-flex" style="text-align: right" [formGroup]="searchForm" (ngSubmit)="getSearch()">
          <input class="form-control me-2 buttons1" type="date" name="search" formControlName="searchStartDate"
                 aria-label="Search">
<!--          <small style="color: red" *ngIf="getStarDate().hasError('required') &&-->
<!--         getStarDate().touched|| submit">Không được để rống!</small>-->
          <input class="form-control me-2 buttons2" type="date" name="search" formControlName="searchEndDate"
                 aria-label="Search">
<!--          <small style="color: red" *ngIf="getEndDate().hasError('required') &&-->
<!--         getEndDate().touched|| submit">Không được để rống!</small>-->
          <input class="form-control me-2 buttons3" type="search" name="search" formControlName="searchName"
                 aria-label="Search" placeholder="Tìm người tạo">
<!--          <small style="color: red" *ngIf="getName().hasError('required') &&-->
<!--         getName().touched|| submit">Không được để rống!</small>-->
          <button class="btn" style="background-color: #744e3a; color: white" type="submit"
                  name="name">Tìm
          </button>
        </form>
      </div>
    </div>
    <div class="table-wrapper mt-3">
      <table class="table table-hover table-sm">
        <thead>
        <tr style="height: 50px">
          <th>STT</th>
          <th>Ngày phản hồi</th>
          <th>Người tạo</th>
          <th>Đánh giá</th>
          <th class="text-center">Phản hồi</th>
          <th class="text-center">Chi tiết</th>
        </tr>
        </thead>
        <tbody>
        <tr class="container-fluid" *ngFor="let f of listFeedback; index as i">
          <td style="padding-left: 15px; padding-top: 10px">{{i + 1}}</td>
          <td>{{f.feedbackDate |date:'dd-MM-yyyy'}}</td>
          <td>{{f.creator}}</td>
          <td>
            <span *ngFor="let item of [].constructor(f.rating)" class="material-icons" style="color: orange">star</span>
          </td>
          <td style="width: 150px"><p class="hide_content">{{f.content}}</p>
          </td>
          <td class="mid">
            <a class="button-detail" data-bs-toggle="offcanvas" data-bs-target="#demo" (click)="showDetail(f)">
              <mat-icon class="bi">remove_red_eye</mat-icon>
            </a>
          </td>
        </tr>
        </tbody>
        <p *ngIf="listFeedback.length == 0" style="border-top: none; text-align: center"> No data</p>
      </table>

      <!--      Phần trang-->
      <div class="container-fluid mt-3">
        <ul class="pagination float-end">
          <div *ngIf="number == 0">
            <li class="page-item disabled">
              <button class="page-link" (click)="goPrevious()" hidden>Sau</button>
            </li>
          </div>
          <div *ngIf="number != 0">
            <li class="page-item">
              <button class="page-link" (click)="goPrevious()">Sau</button>
            </li>
          </div>
          <div *ngFor="let count of countTotalPages; index as i">
            <div *ngIf="i == number">
              <li class="page-item active">
                <button class="page-link" (click)="goItem(i)">{{i + 1}}</button>
              </li>
            </div>
            <div *ngIf="i != number">
              <li class="page-item">
                <button class="page-link" (click)="goItem(i)">{{i + 1}}</button>
              </li>
            </div>
          </div>
          <div *ngIf="number == totalPages - 1">
            <li class="page-item disabled">
              <button class="page-link" (click)="goNext()" hidden>Trước</button>
            </li>
          </div>
          <div *ngIf="number != totalPages - 1">
            <li class="page-item">
              <button class="page-link" (click)="goNext()">Trước</button>
            </li>
          </div>
        </ul>
      </div>
      <!--end-->
    </div>
  </div>

  <!--  màn hình chi tiết-->
  <div class="offcanvas offcanvas-end" id="demo">
    <div class="offcanvas-header">
      <h1 class="offcanvas-title">Phản hồi chi tiết</h1>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <div class="card">
          <img
            src="{{image}}"
            class="card-img-top" alt="Phản hồi này không có ảnh">
          <div class="card-body">
            <label>Mã phản hồi: </label><span>{{code}}</span> <br>
            <label>Đánh giá: </label>
            <span *ngFor="let item of [].constructor(rating)" class="material-icons" style="color: orange">star</span>
            <br>
            <label class="col-7">Ngày phản hồi: </label> <span>{{feedbackDate}}</span> <br>
            <label>Người tạo: </label> <span>{{creator}}</span> <br>
            <label>Email:</label> <span>{{email}}</span> <br>
            <label>Phản hồi:</label> <span>{{content}}</span>
          </div>
        </div>
      </div>
      <div class="button_close">
        <button class="btn btn-secondary" type="button" data-bs-dismiss="offcanvas">Đóng</button>
      </div>
    </div>
  </div>
  <!--  end-->
</div>

<div style="background-color: beige; height: 2px">
</div>
