<section class="vh-100" style="background-color: #bebebf">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="\assets\img\logo-change-password-thongnv.jpg"
                   alt="login form" class="img-fluid" style="border-radius: 4rem 4rem 4rem 4rem; margin-left: 20px; margin-top: 45px" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form>
                  <div class="d-flex align-items-center mb-3 pb-2">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <span class="h1 fw-bold mb-0">Thay đổi mật khẩu</span>
                  </div>
                  <!--                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Thay đổi mật khẩu</h5>-->
                  <div class="form-outline mb-1">
                    <label class="form-label"><h5>Mật khẩu hiện tại<span style="color: red">(*)</span></h5></label>
                    <input class="form-control form-control-lg" />
                  </div>
                  <div class="form-outline mb-1">
                    <label class="form-label" style="padding-top: 10px"><h5>Mật khẩu mới<span style="color: red">(*)</span></h5></label>
                    <input class="form-control form-control-lg" />

                  </div>
                  <div class="form-outline mb-1">
                    <label class="form-label" style="padding-top: 10px"><h5>Nhập lại mật khẩu mới <span style="color: red">(*)</span></h5></label>
                    <input class="form-control form-control-lg" />

                  </div>
                  <div class="pt-4 mb-4" style="text-align: center">
                    <button class="btn btn-secondary btn-lg btn-block" type="button">Thay đổi</button>
                    <button routerLink="/account/detail" style="margin-left: 20px" class="btn btn-dark btn-lg btn-block" type="button">Quay lại</button>
                  </div>
                  <div style="text-align: center">
                    <a class="small text-muted" href="#!">Quên mật khẩu?</a>
                    <a href="#!" class="small text-muted">Điều khoản sử dụng.</a>
                    <a href="#!" class="small text-muted">Chính sách bảo mật</a>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
