<div class="img-background-component main pb-5">
  <div class="container ">
    <div class="d-flex justify-content-center pb-5">
      <h2>Danh sách nhân viên</h2>
    </div>
    <div class="row pb-3 ">
      <div class="col-2">
        <button class="btn btn-outline-light background-btn-add" [routerLink]="['/employee/add']" ><i class="fa-solid fa-plus-minus"></i></button>
      </div>
      <div class="col-10 d-flex justify-content-end">
        <form class="d-flex justify-content-end" [formGroup]="formSearch" (ngSubmit)="searchEmployeeFormByProperty()">
          <div class="col-sm-3 pe-2">
            <input class=" form-control" placeholder="Tìm theo tài khoản" type="text" formControlName="accountForm"
                   name="accountForm">
          </div>
          <div class="col-sm-3  pe-2">
            <input class=" form-control" placeholder="Tìm theo tên" type="text" formControlName="nameForm"
                   name="nameForm">
          </div>
          <div class="col-sm-3 pe-2">
            <input class=" form-control" placeholder="Tìm theo sđt" type="text" formControlName="phoneForm"
                   name="phoneForm">
          </div>
          <div class="col-sm-1">
            <button class="btn btn-outline-light btn-search">Tìm</button>
          </div>
        </form>
      </div>
    </div>
    <div class="table_wrapper">
      <div>
        <table class="table table-hover tab-content">
          <thead>
          <tr>
            <th class="">STT</th>
            <th >Tên tài khoản<sup>
              <a class="btn btn-link"
                 (click)="sortByAccount()"><i class="fa-solid fa-arrow-down-a-z" style="margin-left: 5px"></i>
              </a></sup></th>
            <th >Họ và tên<sup>
              <a class="btn btn-link"
                 (click)="sortByName()"><i class="fa-solid fa-arrow-down-a-z" style="margin-left: 5px"></i>
              </a></sup></th>
            <th >Số điện thoại</th>
            <th >Vị trí</th>
            <th >Lương</th>
            <th style="text-align: center">Hoạt động</th>
          </tr>
          </thead>
          <tbody *ngIf="!checkSpecialCharacterName && !checkSpecialCharacterPhone && !checkSpecialCharacterAccount">
          <tr *ngFor="let item of employeeList; index as i">
            <td class="row-bold" style="padding-left: 15px">{{1 + i + pageCurrent * size}}</td>
<!--            <td  class="hide_content" style="width: 20% !important;">{{item.appUser}}</td>-->
            <td><span style="color: black; overflow: hidden !important;" class="tooltipHieu">{{item.appUser}}</span></td>
            <td style="width: 20% !important;" ><a class="name-employee" [routerLink]="['/employee/detail',item.id]">{{item.name}}</a></td>
            <td>{{item.phoneNumber}}</td>
            <td>{{item.position}}</td>
            <td>{{item.salary | currency: 'VND':'' }}đ</td>

            <td class="d-flex justify-content-around">
              <a class="btn btn-sm btn-outline-warning" [routerLink]="['/employee/edit',item.id]"><i
                class="fa-solid fa-pen-to-square"></i>
              </a>
              <button class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                      data-bs-target="#exampleModalDelete1" (click)="modalDelete(item)"><i
                class="fa-solid fa-trash"></i></button>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="mt-2">
          <p *ngIf="employeeList.length==0 || checkSpecialCharacterName || checkSpecialCharacterPhone ||
          checkSpecialCharacterAccount">Không có dữ liệu</p>
        </div>
        <div class="modal fade" id="exampleModalDelete1" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc muốn xóa nhân viên: </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div>
                  <div>
                    <table class="table table-responsive">
                      <thead>
                      <tr>
                        <th>Tên</th>
                        <th>Tên tài khoản</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>{{employee.name}}</td>
                        <td>{{employee.appUser}}</td>
                      </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
                <button type="button" class="btn btn-outline-danger" (click)="deleteEmployee(employee.id)"
                        data-bs-dismiss="modal">Xác nhận
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="py-3" *ngIf="employeeList.length>0 && !checkSpecialCharacterName && !checkSpecialCharacterPhone && !checkSpecialCharacterAccount">
          <nav aria-label="Page navigation example d-flex flex-row-reverse">
            <ul class="pagination justify-content-end">
              <div *ngIf="pageCurrent == 0">
                <li class="page-item disabled">
                  <button class="page-link" (click)="goPrevious()" hidden>Trước</button>
                </li>
              </div>
              <div *ngIf="pageCurrent != 0">
                <li class="page-item">
                  <button class="page-link" (click)="goPrevious()">Trước</button>
                </li>
              </div>
              <div *ngFor="let count of arrayPage; index as i">
                <div *ngIf="i == pageCurrent">
                  <li class="page-item active">
                    <button class="page-link active1" (click)="goItem(i)">{{i + 1}}</button>
                  </li>
                </div>
                <div *ngIf="i != pageCurrent">
                  <li class="page-item">
                    <button class="page-link" (click)="goItem(i)">{{i + 1}}</button>
                  </li>
                </div>
              </div>
              <div *ngIf="pageCurrent == totalPages - 1">
                <li class="page-item disabled">
                  <button class="page-link" (click)="goNext()" hidden>Sau</button>
                </li>
              </div>
              <div *ngIf="pageCurrent != totalPages - 1">
                <li class="page-item">
                  <button class="page-link" (click)="goNext()">Sau</button>
                </li>
              </div>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="background-color: beige; height: 2px">

</div>
