.management {
  padding: 50px 0px 50px 50px;
}

.complain {
  color: red;
}

#fate {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(src/assets/img/luanbackground.jpg);
  position: relative;
  padding: 150px;
}
.title-image {
  padding-bottom: 65px;
}
.s{
  background-color: white;
}
.sliceCss {
  height: 550px;
  border-radius: 70px;
  margin-top: 20px;
}
.image-css {
   width: 260px;
   height: 250px;
   display: none;
   border-radius: 200px;
 }
@media only screen and (max-width: 1100px) {
  .image-edit {
    display: none;
  }
}
.image-edit {
  padding-left: 57px;
}
h3 {
  padding-left: 4px;
}

.block-2 {
  padding-top: 14px;
}

label {
  color: black;
}
.title-input {
  font-weight: bold;
  font-size: 15px;
}


@media only screen and (max-width: 1330px) {
  .block-1 {
    display: block;
    width: 100%;
  }

  .block-2{
    display: none;
  }
}

